{% extends 'base.html' %}
{% block content %}

<div class="form-container">
    <h2>Cancel Booking</h2>
    <div class="booking-summary">
        <p><strong>Service:</strong> {{ booking.service.title }}</p>
        <p><strong>Date:</strong> {{ booking.date }}</p>
        <p><strong>Time:</strong> {{ booking.time }}</p>
    </div>
    <p style="margin-bottom:15px;">
        Are you sure you want to cancel this booking?
    </p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Yes Cancel</button>
        <a href="{% url 'booking_history' %}" class="btn btn-outline">
            Go Back
        </a>
    </form>
</div>

{% endblock %}